.node-editor-container.node-editor-container.node-editor-container {
  outline: none;
  border: 0;
}

.node-wrapper .node .node-content {
  width: 150px;
  padding-left: 4px !important;
  /* white-space: nowrap; */
}